@page
@model Restaurants.ListModel
@{
}
<h1>Restaurants</h1>

<div class="container">

	<form method="get">
		<div class="form-group">
			<div class=input-group>
				<input type="search" class="form-control" asp-for="SearchTerm" />
				<span class="input-group-btn">
					<button class="btn btn-default">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</span>

			</div>
		</div>

	</form>

	@if (Model.Restaurants.Any() == false)
	{
			<label class="form-label">
				Sorry No Record Found..
			</label>		
	}
	else
	{

																					<table class="table">
																					<thead>
																					<th> Name</th>
																					<th> Location</th>
																					<th> Cuisine </th>

																					</thead>


																					<tbody>

				@foreach (var rest in Model.Restaurants)
				{
																																										<tr>
																																											<td>
							@rest.Name
																																											</td>
																																											<td>
							@rest.Location
																																											</td>
																																											<td>
							@rest.Cuisine
																																											</td>
																																											<td>
																																												<a class="btn btn-default" asp-page="./Detail" asp-route-id="@rest.Id">Details</a>
																																												<a class="btn btn-success" asp-page="./Edit" asp-route-id="@rest.Id">Edit</a>
																																												<a class="btn btn-danger" asp-page="./Delete"  asp-route-id="@rest.Id">Delete</a>
																																											</td>

																																										</tr>
				}
																					</tbody>
																				</table>
	}



	<a asp-page="./Edit" class="btn btn-info">Add New</a>


	@if (Model.Message != null)
	{
																					<div class="alert alert-info">
																						<div>
				@Model.Message
																						</div>
																					</div>

	}
</div>


